.header {

}

#name {
    float: left;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 20%;
}

#aboutMe, #connect {
    color: #4aaaa5;
}

p {
    color: #777777;
}

img {
    float: left;
    width: 20%;
    height: 30%;
    padding-right: 20px;
}

#mainSectionContent {

    float: left;
    background-color: #ffffff;
    padding: 30px 20px 30px 30px;
    width: 650px;
}

#sidebarContent {
    float: left;
    padding-bottom: 30px;
    padding-left: 20px;
    text-align: center;
    background-color: #ffffff;
    width: 270px;
}

#entireContent {
    width: 960px;
}
