.header {
    /* background-color: #ffffff; */
    background-color: gray;
    overflow: auto;
    text-align: center;
}

#name {
    float: left;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 20%;
}

#aboutMe, #connect {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

img {
    float: left;
    width: 20%;
    height: 30%;
    padding-right: 20px;
}

#mainSectionContent {

    float: left;
    background-color: #ffffff;
    padding: 30px 20px 30px 30px;
    width: 650px;
}

#sidebarContent {
    float: right;
    padding-bottom: 30px;
    padding-left: 20px;
    text-align: center;
    background-color: #ffffff;
    width: 270px;
}

#entireContent {
    width: 1000px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12%;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top: 9px solid #4aaaa5;
    padding: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}